@model IEnumerable<ASS_BanHang_Final.Models.Role>

@{
    ViewData["Title"] = "Quản lý Roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


 <section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>
                   

                    
                                            

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                               
                                <th scope="col">Tên quyền truy cập</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null)
                            {
                                foreach(var item in Model)
                                {
                                    <tr>                                       
                                        <td>@item.RoleName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a asp-asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm btn-tone m-r-5">Detail</a>
                                            <a asp-asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm btn-tone m-r-5">Edit</a>
                                            <a asp-asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm btn-tone m-r-5">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }                         
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
